<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Products</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="commerce.products_grid">Administrator Page</a>
            </li>
            <li class="active">
                <strong>Add Product</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row" ng-controller="addProductController">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="tabs-container">
                 <div>
                    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>     
                </div>
                <h3 class="font-bold">Enter new product details</h3>                    
                    <form class="form-horizontal" ng-submit="addProduct()">
                        <br/>
                        <div class="form-group"><label class="col-sm-2 control-label">Book Title</label>
                            <div class="col-sm-10">
                                <input type="text" placeholder="Book Title" class="form-control" required ng-model="product.title" ng-keydown="error_message=''">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">Author</label>
                            <div class="col-sm-10">
                                <input type="text" placeholder="Author" class="form-control" required ng-model="product.author">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Category</label>
                            <div class="col-sm-4">
                                <select class="form-control m-b" name="account" ng-model="product.category">
                                    <option>Uncategorized</option>
                                    <option>Children's Books</option>
                                    <option>Cooking & Food</option>
                                    <option>Fiction</option>
                                    <option>History</option>
                                    <option>Science & Technology</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <textarea rows="5" cols="5" type="text" placeholder="Description" class="form-control" required ng-model="product.description">
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">Image</label>
                            <div class="col-sm-10">                                                            
                            <input 
                               type="file" 
                               ngf-select 
                               ng-model="file" 
                               name="file" 
                               ngf-pattern="'image/*'"
                               accept="image/*" 
                               ngf-max-size="20MB" 
                               />
                            Image thumbnail: <img style="width:100px;" ngf-thumbnail="file"/>    
                            <button type="button" ng-click="upload(file)">upload image</button>
                            <p>{{progress}}</p>                   
                            </div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">Price</label>
                            <div class="col-sm-10">
                                <input type="number" min="0" placeholder="Price ($ 1.00)" class="form-control" required ng-model="product.price">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Stock Quantity</label>
                            <div class="col-sm-10">
                                <input min="0" type="number" placeholder="Initial Stock Quantity" class="form-control" required ng-model="product.stock">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Status</label>
                            <div class="col-sm-4">
                                <select class="form-control m-b" name="account" ng-model="product.status">
                                    <option>Active</option>
                                    <option>Inactive</option>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                               <button class="btn btn-primary" type="submit">Add Product</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>