<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Product detail</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="commerce.products_grid">Home</a>
            </li>
            <li class="active">
                <strong>Product detail</strong>
            </li>
        </ol>
    </div>
    </br></br>
    <div>
        <button class="btn btn-primary btn-sm" ui-sref="commerce.products_grid"><i class="glyphicon glyphicon-chevron-left"> </i>Back To Product Grid</button>
    </div> 
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="productItemController">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox product-detail">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-5">
                            <slick dots="true">
                                <div>
                                    <div class="image-imitation.xl">
                                         <img class="img-responsive" ng-src="img/products/{{product.image}}"/>
                                    </div>
                                </div>
                            </slick>
                        </div>
                        <div class="col-md-7">
                            <h2 class="font-bold m-b-xs">
                                {{product.title}}
                            </h2>
                            <h3 class="font-bold m-b-xs">
                                {{product.author}}
                            </h3>
                            <small>International Publisher</small>
                            <div class="m-t-md">
                                <h2 class="product-main-price">{{product.price | currency}} <small class="text-muted">Exclude Tax</small> </h2>
                            </div>
                            <hr>
                            <h4>Category: {{product.category}}</h4>
                            <h4>Product description</h4>

                            <div class="small text-muted">
                                {{product.description}}
                            </div>
                            <hr>
                            <dl class="small m-t-md">
                                <dt>Status</dt>
                                <dd>{{product.status}}</dd>
                                <dt>Stock</dt>
                                <dd>{{product.stock}}</dd>
                            </dl>
                            <div>
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</button>
                                    <button class="btn btn-white btn-sm"><i class="fa fa-star"></i> Add to wishlist </button>
                                    <button class="btn btn-white btn-sm"><i class="fa fa-envelope"></i> Contact with author </button>
                                </div>
                            </div>
                            </br>
  
                        </div>
                    </div>

                </div>
                <div class="ibox-footer">
                </div>
            </div>
        </div>
    </div>
</div>