<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Profile</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Profile</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content" ng-controller="userController">    
     <div>
         <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>     </div>
     <div class="tabs-container">

                    <uib-tabset class="tabs">
                        <uib-tab heading="Profile">
                            <div class="panel-body">
                                <div class="col-md-4">
                                    <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Profile Detail</h5>
                </div>
                <div>
                <div class="ibox-content no-padding border-left-right">
                    <center><img class="img-responsive" ng-src="/img/products/{{user.image}}"/></center>
                </div>
                    </br>
                <div class="col-sm-20">                                                            
                <input 
                    type="file" 
                    ngf-select 
                    ng-model="file" 
                    name="file" 
                    ngf-pattern="'image/*'"
                    accept="image/*" 
                    ngf-max-size="20MB" 
                    class="btn btn-primary btn-sm btn-block"/>
                </div>
                <div class="col-sm-20">
                <button type="button" ng-disabled="!file.name" ng-click="upload(file)" class="btn btn-primary btn-sm btn-block"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;&nbsp;<span class="bold">Save Profile Picture</span></button>
              
                </div>
                <button type="button" ng-click="removePic()" class="btn btn-primary btn-sm btn-block"  ng-disabled="user.image=='blankAva.jpg'" >
                    <i class="glyphicon glyphicon-remove"></i>&nbsp;&nbsp;
                    <span class="bold">Remove Profile Picture</span>
                </button>

                    <div class="ibox-content profile-content">
                        <h4><strong>{{user.firstname}} {{user.lastname}}</strong></h4>

                        <p><i class="fa fa-map-marker"></i>  {{user.billingAddress}}</p>
                        <h5>
                            About me
                        </h5>

                        <p>
                            Describe your profile.
                        </p>   
                    </div>
                </div>
            </div>
                     </div>
                                   <div class="col-md-8" >
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Profile Details</h5>


                </div>
                <div class="ibox-content">
                    <div>
                        <div class="feed-activity-list">
                            <form class="m-t" role="form" ng-submit=udpateProfile(user)>
                                <p> UserName : </p>
                                 <input type="text" class="form-control"  ng-model="user.username" disabled required>
                                <p> First Name : </p>
                                <input type="text" class="form-control" ng-model="user.firstname" required>
                                <p> Last Name : </p> 
                                <input type="text" class="form-control" required="" ng-model="user.lastname">                      
                                <p> Email Address : </p> 
                                <input type="text" class="form-control" required="" ng-model="user.email">                         
                                <p> Billing Address : </p> 
                                <textarea type="text" class="form-control" required="" ng-model="user.billingAddress"/>   
                                <p> Shipping Address : </p> 
                                <textarea type="text" class="form-control" required="" ng-model="user.shippingAddress"/>   
                                <p>
                                    <div class="user-button">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-primary btn-sm btn-block"> Save Profile</button>
                                        </div>
                                    </div>
                           
                        </div>
                       </form>                      
                        </div>
                    </div>

                </div>
            </div>

        </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="Change Password">
                            <div class="panel-body">
                                 <div class="col-md-4" >
                                  <form class="m-t" role="form" ng-submit=changePassword(changeUserPassword)>
                                <p> Old Password : </p>
                                 <input type="password" class="form-control" required ng-model="changeUserPassword.password">
                                <p> New Password : </p>
                                <input type="password" class="form-control" required ng-model="changeUserPassword.newPasswordOne">
                                <p> Confirm New Password : </p> 
                                <input type="password" class="form-control" required ng-model="changeUserPassword.newPasswordTwo">    
                                <p>
                                    <div class="user-button">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <button type="submit" class="btn btn-primary btn-sm btn-block"> Change Password</button>
                                        </div>
                                    </div>
                           
                        </div>
                       </form>     
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>

            </div>    
 
</div>
